body {
  color: #444;
}
.banner {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}

.name-fullstack {
  position: absolute;
  top: 60%;
  right: 45%;
  color: white;
}

.name {
  font-size: 35px;
  text-align: center;
}

.fullstack {
  font-size: 15px;
  text-align: center;
}

.icon {
  display: grid;
  grid-template-columns: auto 120px 120px 300px 120px 120px auto;
  height: 50px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  align-items: center;
  position: relative;
}

.cotdau {
  display: grid;
  grid-area: 1 / 1;
  border-right: 1px solid rgb(230, 228, 228);
}

.thongtin {
  grid-area: 1 / 2;
  border-right: 1px solid rgb(230, 228, 228);
}

.icon-user {
  color: rgb(8, 111, 196);
}

.lylich {
  grid-area: 1 / 3;

  border-right: 1px solid rgb(230, 228, 228);
}

.icon-doc-text-inv {
  color: rgb(8, 111, 196);
}

.hovaten {
  grid-area: 1 / 4;
  font-size: 25px;
}

.fullstack1 {
  font-size: 12px;
  color: #383838;
}
.chungchi {
  grid-area: 1 / 5;
  border-right: 1px solid rgb(230, 228, 228);
  border-left: 1px solid rgb(230, 228, 228);
}

.icon-mail-alt {
  color: rgb(8, 111, 196);
}

.duan {
  grid-area: 1 / 6;

  border-right: 1px solid rgb(230, 228, 228);
}

.icon-star-1 {
  color: rgb(8, 111, 196);
}

.cotcuoi {
  grid-area: 1 / 7;
}

.muctieu-thongtin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: #fcfcfc;
  margin-left: 40px;
  margin-right: 40px;
}

.muctieu {
  padding: 40px;
}

.thongtincanhan {
  display: grid;
  grid-template-columns: repeat(2, 80px auto);
  background-color: #f7f7f7;
  padding: 40px;
  gap: 10px;
}

.thongtincn {
  grid-area: 1 / 1 / 2 / 3;
}

.thongtin1 {
  grid-area: 2 / 1 / 3 / 2;
}

.thongtin2 {
  grid-area: 2 / 2 / 3 / 3;
}

.iconttcn {
  grid-area: 3 / 1 / 4 / 3;
  color: rgb(8, 111, 196);
}

.profile {
  display: grid;
  grid-template-columns: auto 300px 300px 300px auto;
  gap: 40px;
  margin-top: 40px;
  text-align: start;
}
.kinhnghiem {
  grid-area: 1 / 2 / 2 / 3;
  border: 1px solid rgb(230, 228, 228);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px auto;
}
.kinhnghiem1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 30px;
  margin-left: 20px;
}
.ic-toolbox {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: right;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 40px;
}
.kinhnghiem2 {
  grid-area: 2 / 1 / 3 / 3;
  padding-left: 30px;
  margin-bottom: 40px;
  margin-top: 0;
}

.highlight {
  background-color: #3498db;
  padding: 0 5px;
  border: 2px solid #3498db;
  border-radius: 8px;
}
.hocvan {
  grid-area: 1 / 3 / 2 / 4;
  border: 1px solid rgb(230, 228, 228);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px auto;
  align-items: start;
}
.hocvan1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 30px;
  margin-left: 20px;
}
.ic-pencil {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: right;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 40px;
}
.hocvan2 {
  grid-area: 2 / 1 / 3 / 3;
  padding-left: 30px;
  margin-bottom: 40px;
  margin-top: 0;
}
.hoatdong {
  grid-area: 1 / 4 / 2 / 5;
  border: 1px solid rgb(230, 228, 228);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px auto;
}
.hoatdong1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 30px;
  margin-left: 20px;
}
.ic-toolbox {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: right;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 40px;
}
.hoatdong2 {
  grid-area: 2 / 1 / 3 / 3;
  padding-left: 30px;
  margin-bottom: 40px;
  margin-top: 0;
}
.sothich {
  grid-area: 2 / 2 / 3 / 3;
  border: 1px solid rgb(230, 228, 228);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 70px 50px;

  text-align: center;
}
.sothich1 {
  grid-area: 1 / 1 / 2 / 3;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-bottom: 30px;
  text-align: left;
}
.ic-telescope {
  grid-area: 1 / 3 / 2 / 5;
  justify-content: right;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 40px;
}
.amnhac {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid #3498db;
  border-radius: 50%;

  color: #3498db;
  margin-left: 15px;
  margin-top: 30px;
}

.choigame {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid #3498db;
  border-radius: 50%;

  color: #3498db;
  margin-left: 15px;
  margin-top: 30px;
}

.dulich {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid #3498db;
  border-radius: 50%;

  color: #3498db;
  margin-left: 15px;
  margin-top: 30px;
}

.nauan {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid #3498db;
  border-radius: 50%;

  color: #3498db;
  margin-left: 15px;
  margin-top: 30px;
}

.ngonngu {
  grid-area: 2 / 3 / 3 / 4;
  border: 1px solid rgb(230, 228, 228);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px auto;
}
.ngonngu1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 30px;
  margin-left: 20px;
}
.ic-mic {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: right;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 40px;
}
.ngonngu2 {
  grid-area: 2 / 1 / 3 / 3;
  padding-left: 30px;
  margin-bottom: 40px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 15px);
  padding-left: 20px;
  margin-top: 30px;
}

.tienganh {
  grid-area: 1 / 1 / 2 / -1;
}
.tiengnhat {
  grid-area: 3 / 1 / 4 / -1;
}

.border1 {
  height: 10px;
  border-top: 3px solid #3498db;
}

.kynang {
  grid-area: 2 / 4 / 3 / 5;
  border: 1px solid rgb(230, 228, 228);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px auto;
}
.kynang1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 30px;
  margin-left: 20px;
}
.ic-tools-2 {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: right;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 40px;
}
.kynang2 {
  grid-area: 2 / 1 / 3 / 3;
  padding-left: 30px;
  margin-bottom: 40px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 15px);
  padding-left: 20px;
  margin-top: 30px;
}
.html {
  grid-area: 1 / 1 / 2 / -1;
}

.java {
  grid-area: 3 / 1 / 4 / -1;
}

.node {
  grid-area: 5 / 1 / 6 / -1;
}

.boot {
  grid-area: 7 / 1 / 8 / -1;
}

li {
  margin-top: 30px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}

.chungchi-giaithuong {
  display: grid;
  grid-template-columns: auto 180px 310px 180px 310px auto;
  grid-template-rows: 70px 1fr 1fr;
  background-color: #f7f7f7;
  margin-top: 40px;
  padding-bottom: 40px;
}

.chungchi-giaithuong1 {
  grid-area: 1 / 2 / 2 / 6;
}

.img1 {
  grid-area: 2 / 2 / 3 / 3;
  padding-bottom: 20px;
}

.chungchi1 {
  grid-area: 2 / 3 / 3 / 4;
  margin-bottom: 20px;
  padding-left: 10px;
  border-right: 2px solid #d6c08d;
}

.img2 {
  grid-area: 2 / 4 / 3 / 5;
  padding-left: 10px;
}

.chungchi2 {
  grid-area: 2 / 5 / 3 / 6;
  padding-left: 10px;
}

.img3 {
  grid-area: 3 / 2 / 4 / 3;
  padding-top: 20px;
  border-top: 2px solid #d6c08d;
}

.chungchi3 {
  grid-area: 3 / 3 / 4 / 4;
  padding-left: 10px;
  padding-top: 20px;
  border-top: 2px solid #d6c08d;
}

.img4 {
  grid-area: 3 / 4 / 4 / 5;
  padding-top: 20px;
  border-top: 2px solid #d6c08d;
}

.chungchi4 {
  grid-area: 3 / 5 / 4 / 6;
  padding-left: 10px;
  padding-top: 20px;
  border-top: 2px solid #d6c08d;
}

.du-an {
  display: grid;
  grid-template-columns: auto 300px 300px 300px auto;
  column-gap: 40px;
  margin-top: 40px;
  text-align: start;
  margin-bottom: 0;
}

.du-an1 {
  grid-area: 1 / 2 / 2 / 5;
}

.cvcanhan {
  grid-area: 2 / 2 / 3 / 3;
  border: 1px solid rgb(230, 228, 228);
}

.cvcanhan1 {
  padding-left: 20px;
  font-size: 16px;
}

.funix1 {
  border-top: 1px solid rgb(230, 228, 228);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.mota1 {
  display: grid;
  grid-template-columns: 80px auto;
  border-top: 1px solid rgb(230, 228, 228);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.nhiemvu1 {
  display: grid;
  grid-template-columns: 80px auto;
  border-top: 1px solid rgb(230, 228, 228);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.congnghe1 {
  display: grid;
  grid-template-columns: 80px auto;
  border-top: 1px solid rgb(230, 228, 228);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.webthucung {
  grid-area: 2 / 3 / 3 / 4;
  border: 1px solid rgb(230, 228, 228);
}
.webtintuc {
  grid-area: 2 / 4 / 3 / 5;
  border: 1px solid rgb(230, 228, 228);
}

.thongtinlh {
  margin: 40px;
  height: 100px;
  display: grid;
  grid-template-columns: auto 120px 120px 120px auto;
  background-color: #f7f7f7;
  align-items: center;
  justify-items: center;
}

.face {
  grid-area: 1 / 2 / 2 / 3;
}

.link {
  grid-area: 1 / 3 / 2 / 4;
}

.github {
  grid-area: 1 / 4 / 2 / 5;
}

.icon-facebook-circled {
  font-size: 30px;
  color: #3498db;
}

.icon-linkedin-circled {
  font-size: 30px;
  color: #3498db;
}

.icon-github-circled {
  font-size: 30px;
  color: #3498db;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: brown;
  font-weight: bold;
}

a i {
  color: #3498db;
  text-decoration: none;
}

a i:hover {
  color: brown;
  font-weight: bold;
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid white;
  border-radius: 50%;
  /* width: 200px; */
  /* height: 200px; */
}
