@media (max-width: 768px) {
  /* ICON */
  .icon {
    display: grid;
    grid-template-columns: auto 120px 120px 40px 120px 120px auto;
    height: 50px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    align-items: center;
    position: relative;
  }

  .name-fullstack {
    position: absolute;
    top: 40%;
    right: 30%;
    color: white;
  }

  .hovaten {
    display: none;
    /* grid-area: 1 / 4;
    font-size: 25px; */
  }

  .fullstack1 {
    display: none;
    /* font-size: 12px;
    color: #383838;
  */
  }

  .avatar {
    display: none;
  }

  /* PROFILE */
  .profile {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: repeat(3, auto);
    gap: 40px;
    margin-top: 40px;

    text-align: start;
  }
  .kinhnghiem {
    grid-area: 1 / 2 / 2 / 3;
  }

  .hocvan {
    grid-area: 2 / 2 / 3 / 3;
  }

  .hoatdong {
    grid-area: 1 / 3 / 2 / 4;
  }

  .sothich {
    grid-area: 3 / 3 / 4 / 4;
  }

  .ngonngu {
    grid-area: 3 / 2 / 4 / 3;
  }

  .kynang {
    grid-area: 2 / 3 / 3 / 4;
  }

  /* CHỨNG CHỈ - GIẢI THƯỞNG */
  .chungchi-giaithuong {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 70px 1fr 1fr;
    background-color: #f7f7f7;
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .chungchi-giaithuong1 {
    grid-area: 1 / 2 / 2 / 5;
    margin-top: 20px;
  }

  .img1 {
    grid-area: 2 / 2 / 3 / 3;
    padding-bottom: 0;
    padding-right: 10px;
    border-right: 1px solid #d6c08d;
  }

  .chungchi1 {
    grid-area: 3 / 2 / 4 / 3;
    margin-bottom: 20px;
    padding-left: 10px;
    border-right: 1px solid #d6c08d;
  }

  .img2 {
    grid-area: 2 / 3 / 3 / 4;
    padding-left: 0;
    padding-left: 10px;
  }

  .chungchi2 {
    grid-area: 3 / 3 / 4 / 4;
    padding-left: 20px;
  }

  .img3 {
    grid-area: 4 / 2 / 5 / 3;
    padding-top: 20px;
    padding-right: 10px;
    border-top: 1px solid #d6c08d;
  }

  .chungchi3 {
    grid-area: 5 / 2 / 6 / 3;
    padding-left: 10px;
    padding-top: 0;
    border-top: none;
  }

  .img4 {
    grid-area: 4 / 3 / 5 / 4;
    padding-top: 20px;
    padding-left: 10px;
    border-top: 1px solid #d6c08d;
  }

  .chungchi4 {
    grid-area: 5 / 3 / 6 / 4;
    padding-left: 10px;
    padding-top: 0;
    border-top: none;
  }

  /* DỰ ÁN */
  .du-an {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto;
    column-gap: 10px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: start;
    margin-bottom: 0;
    font-size: 90%;
  }

  /* THÔNG TIN LIÊN HỆ */
  .thongtinlh {
    font-size: 80%;
  }
}
